{
    "forEach": "entities",
    "filename": "src/app/components/entities/{{kebabCase name}}/{{kebabCase name}}-search/{{kebabCase name}}-search.component.scss",
    "formatUsing": "scss"
}
---
.inputField {
    margin: 10px;
    mat-form-field {
        width: 100%;
        max-width: 500px;
    }
}